<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<div class="container">
  <hr>
  <h3 class="h3">
    {{msg| uppercase}}</h3>
  <hr>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="./assets/g1.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Dark Souls 4</a></h3>
          <div class="price">$11.00
            <span>$14.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li (click)="componentToggle()"><a data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>

        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="./assets/g2.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Mafia definitive Edition</a></h3>
          <div class="price">$12.00
            <span>$20.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li (click)="componentToggle()"><a data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="./assets/g3.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Tom Clansy's Rainbow Six Siedge</a></h3>
          <div class="price">$11.00
            <span>$14.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li (click)="componentToggle()"><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="./assets/g4.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">PLAYERUNKNOWN'S BATTLEGROUNDS</a></h3>
          <div class="price">$8.00
            <span>$12.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li (click)="componentToggle()"><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="./assets/g5.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">FIFA 21</a></h3>
          <div class="price">$11.00
            <span>$14.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li (click)="componentToggle()"><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="./assets/g6.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Star Wars: Squadrons</a></h3>
          <div class="price">$11.00
            <span>$14.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li (click)="componentToggle()"><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="./assets/g7.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Metal Gear Solid V</a></h3>
          <div class="price">$11.00
            <span>$14.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li (click)="componentToggle()"><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="./assets/g8.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Crusader Kings 3</a></h3>
          <div class="price">$11.00
            <span>$14.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li (click)="componentToggle()"><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>
<app-child-component
  *ngIf="displayChild"  [message]="'Added to your cart!'" >
</app-child-component>
