
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About Us</h1>
        <p class="lead text-muted mb-0">GamesStore is an online store of computer games and activation keys for Steam, Origin, Uplay, Battle.net and other gaming platforms</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="./assets/100.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

