<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<ul>
  <li><a routerLink="/">GameStore</a></li>
  <li><a routerLink="/contact">Contact</a></li>
  <li><a routerLink="/create-games">GamesCreate</a></li>
  <li><a routerLink="/games-list">GamesList</a></li>
  <li style="float:right"><a routerLink="/login">Login</a></li>
  <li style="float:right"><a routerLink="/register">Register</a></li>
  <li style="float:right"><a class="active"> <i class="fa fa-shopping-cart"style="font-size:20px"></i></a></li>

</ul>
</body>


