<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="./assets/100.jpg" id="icon" alt="User Icon" />
    </div>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="password" id="confirmpassword" class="fadeIn third" name="confirmpassword" placeholder="Confirm Password">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

    <div id="formFooter">
      <a class="underlineHover" routerLink="/login">Have an account?</a>

    </div>
    <button class="btn btn-link" (click)="save()">Сохранить</button>
    <a routerLink="">На главную</a>
  </div>

</div>
