<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'news'"><a (click)="viewMode = 'contact' "><h1 class="choice">Contact us </h1></a></li>
  <li [class.active]="viewMode == 'news'"><a (click)="viewMode = 'map' "><h1 class="choice">Map View </h1></a> </li>
  <li [class.active]="viewMode == 'news'"><a (click)="viewMode = 'whishlist' "><h1 class="choice">Whish List </h1></a> </li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'contact'">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="well well-sm">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">
                      Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />

                  </div>
                  <div class="form-group">
                    <label for="email">
                      Email Address</label>
                    <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                  </div>
                  <div class="form-group">
                    <label for="subject">
                      Subject</label>
                    <select id="subject" name="subject" class="form-control" required="required">
                      <option value="na" selected="">Choose One:</option>
                      <option value="service">General Customer Service</option>
                      <option value="suggestions">Suggestions</option>
                      <option value="product">Product Support</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">
                      Message</label>
                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                              placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button (click)='buttonClicked()' type="submit" class="btn btn-secondary pull-right" id="btnContactUs">
                    Send Message</button>
                  <p> Messages not sent: {{count}} Times </p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
              <strong>GameStore</strong><br>
              Kazakhstan, Almaty <br>
              Phone:
              +7(777)777-77-77
            </address>
            <address>
              <strong>Full Name</strong><br>
              <a href="mailto:#">26227@edu.iitu.kz</a>
            </address>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div *ngSwitchCase="'map'">
    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.7764533464174!2d76.90755075154429!3d43.23514637903543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883692f027581ad%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1602618037749!5m2!1sru!2skz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">

      </iframe>
    </div>
  </div>

  <div *ngSwitchCase="'whishlist'">
    <div class="panel">
      <h2>Add the game you would like to see in our store:</h2>
      <div>
        <input [(ngModel)]="name" placeholder = "Game name" />
        <button (click)="addItem(name)">Добавить</button>
      </div>
      <table>
        <tr *ngFor="let item of items">
          <td>{{item}}</td>
        </tr>
      </table>
    </div>
  </div>

  <app-footer>

  </app-footer>

</div>

